<html layout:decorate="~{/layout/layout}">

<head>
    <title th:text="'Tracker - ' + #{common.edit}"></title>
</head>

<section layout:fragment="custom-content" class="container">
    <h2 class="mt-5 mb-3 pt-5 border-bottom" th:text="#{common.edit}"></h2>

    <form th:action="@{/tasks/{id}/update(id=${task.id})}" th:object="${task}" method="post">

        <!-- NAME -->
        <div class="mb-3">
            <label for="task-name" class="form-label" th:text="#{common.name}"></label>

            <input type="text" 
                    class="form-control" 
                    id="task-name" 
                    th:placeholder="#{tasks.namePlaceholder}"
                    th:field="*{name}">

            <!-- Errors -->
            <div class="alert alert-warning mt-1"
                    th:errors="*{name}"
                    th:if="${#fields.hasErrors('name')}">
            </div>
        </div>

        <!-- DESCRIPTION -->
        <div class="mb-3">
            <label for="task-description" class="form-label" th:text="#{common.description}"></label>

            <input type="text" 
                class="form-control" 
                id="task-description"
                th:placeholder="#{tasks.descriptionPlaceholder}"
                th:field="*{description}">

            <!-- Errors -->
            <div class="alert alert-warning mt-1"
                th:errors="*{description}"
                th:if="${#fields.hasErrors('description')}">
            </div>
        </div>

        <!-- TASK TYPE -->
        <div class="mb-3">
            <label for="task-type" class="form-label" th:text="#{tasks.type}"></label>

            <div id="task-type" class="form-check" th:each="type : ${taskTypes}">
                <input class="form-check-input" type="radio" th:field="*{taskType}" th:value="${type}">
                <label class="form-check-label" for="flexRadioDefault1" th:text="${type}"></label>
            </div>
        </div>

        <!-- PROJECT -->
        <div class="mb-3">
            <label for="task-description" class="form-label" th:text="#{projects.project}"></label>

            <select class="form-select" th:field="*{project.id}">
                <option th:each="project : ${projects}"
                        th:value="${project.id}"
                        th:text="${project.name}">
                </option>
            </select>    
        </div>

        <!-- ASSIGNEE -->
        <div class="mb-3">
            <label for="task-assignee" class="form-label" th:text="#{tasks.assignee}"></label>

            <select class="form-select" th:field="*{assignee.id}">
                <option th:each="person : ${people}"
                        th:if="${person.enabled}"
                        th:value="${person.id}"
                        th:text="${person.firstName} + ' ' + ${person.lastName}">
                </option>
            </select>    
        </div>

    <!-- BUTTONS -->
    <button class="btn btn-outline-danger">
        <a class="dropdown-item" 
            aria-current="page" 
            th:href="@{/tasks}"
            th:text="#{common.cancel}"></a>
    </button>
    <button type="submit"
            class="btn btn-primary"
            th:text="#{common.save}"></button>

    </form>

    <!-- disable -->
    <div class="btn btn-outline-danger justify-self-start" data-bs-toggle="modal" data-bs-target="#confirmdisable">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-x" viewBox="0 0 16 16">
            <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-.646-4.854.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 .708-.708Z"/>
        </svg>
        <span th:text="#{common.disable}"></span>
    </div>

    <!-- Confirm disable modal -->
    <div class="modal fade" id="confirmdisable" tabindex="-1" aria-labelledby="confirmdisableLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmdisableLabel" th:text="#{common.confirmdisable}"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <span th:text="#{disable.text}"></span>
                </div>

                <div class="modal-footer">
                    <div class="btn btn-secondary" data-bs-dismiss="modal">
                        <div class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left me-2 mt-1" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                            <a class="nav-link" 
                                th:text="#{common.cancel}">
                            </a>
                        </div>
                    </div>

                    <!-- Confirm disable -->
                    <a th:href="@{/tasks/{id}/disable(id=${task.id})}">
                        <button class="btn btn-outline-danger justify-self-start" data-bs-toggle="modal" data-bs-target="#confirmdisable">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                            </svg>
                            <span th:text="#{common.disable}"></span>
                        </button>                       
                    </a>
                </div>
            </div>
        </div>

</section>

</html>