<html layout:decorate="~{/layout/layout}">

<head>
    <title th:text="'Tracker - ' + #{navbar.accountSettings}"></title>
</head>

<section layout:fragment="custom-content">

    <div class="mt-5 pt-5 navbar">
        <h2 th:text="#{navbar.accountSettings}"></h2>
    </div>

    <form th:action="@{/people/{id}/update(id=${person.id})}" th:object="${person}" method="post">
        
        <!-- USERNAME -->
        <div class="mb-3">
            <label for="username" class="form-label" th:text="#{people.username}"></label>

            <input type="text" 
                    class="form-control" 
                    id="username" 
                    th:field="*{username}">

            <!-- Errors -->
            <div class="alert alert-warning mt-1"
                    th:errors="*{username}"
                    th:if="${#fields.hasErrors('username')}">
            </div>
        </div>

        <!-- PASSWORD -->
        <div class="mb-3">
            <label for="password" class="form-label" th:text="#{common.password}"></label>

            <input type="password" 
                    class="form-control" 
                    id="password" 
                    th:field="*{password}">

            <!-- Errors -->
            <div class="alert alert-warning mt-1"
                    th:errors="*{password}"
                    th:if="${#fields.hasErrors('password')}">
            </div>
        </div>

        <!-- E-MAIL -->
        <div class="mb-3">
            <label for="email" class="form-label" th:text="#{people.email}"></label>

            <input type="email" 
                    class="form-control" 
                    id="email" 
                    th:field="*{email}">

            <!-- Errors -->
            <div class="alert alert-warning mt-1"
                    th:errors="*{email}"
                    th:if="${#fields.hasErrors('email')}">
            </div>
        </div>

        <!-- BUTTONS -->
        <button class="btn btn-outline-danger">
            <a class="dropdown-item" 
                aria-current="page" 
                th:href="@{/tasks}"
                th:text="#{common.cancel}"></a>
        </button>
        <button type="submit"
                class="btn btn-primary"
            th:text="#{common.save}">
        </button>
    </form>

</section>    

</html>
