<html layout:decorate="~{/layout/layout}">

<head>
    <title>Tracker - Dashboard</title>
</head>

<section layout:fragment="custom-content">

    <h2 class="mt-5 mb-3 pt-5">Dashboard</h2>
    
    <div class="my-3">
        <h3>Your projects</h3>
        <div th:each="project : ${projects}">
            <a class="card w-100"
                th:if="${project.manager.username == principal.username}"
                th:href="@{/projects/{id}(id=${project.id})}">
                <h4 th:text="${project.name}"></h4>
                <p th:text="${project.description}"></p>
            </a>
        </div>
    </div>

    <div class="my-3">
        <h3>Your tasks</h3>
        <div th:each="task : ${tasks}">
          <div class="card w-100" th:if="${task.assignee.username == principal.username}">
              <h4 th:text="${task.name}"></h4>
              <p th:text="${task.description}"></p>
          </div>
      </div>
    </div>

</section>

</html>
