<html layout:decorate="~{/layout/layout}">

<head>
    <title>Tracker - New project</title>
</head>

<section layout:fragment="custom-content" class="container">
    <h2 class="mt-5 mb-3 pt-5 border-bottom">New project</h2>

    <form th:action="@{/projects/save}" th:object="${project}" method="post">
        <div class="mb-3">
          <label for="project-name" class="form-label">Name</label>
          <input type="text" 
                class="form-control" 
                id="project-name" 
                aria-describedby="name-help" 
                th:field="*{name}">
          <div id="name-help" class="form-text">The name of your project</div>
        </div>
        <div class="mb-3">
          <label for="project-description" class="form-label">Description</label>
          <input type="text" 
                class="form-control" 
                id="project-description"
                aria-describedby="description-help"
                th:field="*{description}">
          <div id="description-help" class="form-text">A short description of your project</div>
        </div>
        <button class="btn btn-outline-danger"><a class="dropdown-item" aria-current="page" th:href="@{/projects}">Cancel</a></button>
        <button type="submit" class="btn btn-primary">Save project</button>
      </form>

</section>

</html>